/* Los estilos de tu proyecto */
.img-user {
	width: 30%;
	height: 30%;
	border-radius: 50%;
	margin-left: 35%;
}

.nav-color{
	width: 100%;
	background-color: white;
	border: none;
	position: fixed;
	z-index: 100;
}
.button-color{
	border: 1px solid gray;

}

.line-color{
	border: 1px solid gray;
}
.position-nav-movil{
	padding-right: 90%;
}
.lista{
	text-decoration: none;
	color: gray;
}
.color-modal{
	background-color: #009999;
}
.loging-color{
	background-color: #e0e0d1;
	width: 60%;
	padding: 5%;
	margin-left: 20%;
	margin-bottom: 5%;
}
.btn-style{
	margin-top: 5%;
	margin-left: 35%;
	background-color: #ff9900;
	color: white;
}
.form-sesión{
	margin: 2%;
	margin-left: 10%;
}
.loging-color p{
	text-align: center;
	margin-top: 5%;
}
.nav-logo{
	margin-top: -20px;
	margin-left: 5%;
}
.fondo-section-1{
	background-image: url('../assets/images/taxi.jpg');
	height: 100vh;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	justify-content: center;
}
main{
	padding-top: 10%;
}
.part-1-movil{
	margin: 0;
	padding-top: 55%;

}
.fondo-anaranjado{
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ff9900;
	height: 30vh;

}
.fondo-anaranjado h3{
	color:white;
	font-size: 300%;
	padding: 5%;
}
.fondo-anaranjado h3 img{
	height: 3vh;
}
.fondo-anaranjado button{

	margin-left: 5%;
	color: black;
	font-weight: 500;
	font-size: 150%;
	border-radius: 10px;
	padding: 2%;
}
@media (min-width: 768px){
	.nav-position{
		width: 100%;
		position: relative;
		padding-left: 75%;
		margin: 3%;
	}
	.nav-position ul div li{
		float: left;
	}
	.nav-position ul div li a{
		padding: 10px;
		list-style: none;
		text-decoration: none;
		color: gray;
	}
	.part-1-movil{
		display: none;
	}
}
