/*Estilos fondo-nav-movil*/
.nav-color{
	width: 100%;
	background-color: white;
	border: none;
	position: fixed;
	z-index: 100;
}
.button-color{
	border: 1px solid gray;
}
.line-color{
	border: 1px solid gray;
}
.position-nav-movil{
	padding-right: 90%;
}
.lista{
	text-decoration: none;
	color: gray;
}
.color-modal{
	background-color: #009999;
}
.img-user {
	width: 30%;
	height: 30%;
	border-radius: 50%;
	margin-left: 35%;
}
.loging-color{
	background-color: #e0e0d1;
	width: 60%;
	padding: 5%;
	margin-left: 20%;
	margin-bottom: 5%;
}
.btn-style{
	margin-top: 5%;
	margin-left: 35%;
	background-color: #ff9900;
	color: white;
}
.form-sesión{
	margin: 2%;
	margin-left: 10%;
}
.loging-color p{
	text-align: center;
	margin-top: 5%;
}
.nav-logo{
	margin-top: -20px;
	margin-left: 5%;
}
/*Estilos fondo-section-1-movil*/
.fondo-section-1{
	display: inline-block;
	width: 100%;
	background-image: url('../assets/images/taxi.jpg');
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 95%;
	justify-content: flex-end;
}
.part-1-movil{
	margin: 0;
	padding-top: 55%;
}
.fondo-anaranjado{
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ff9900;
	height: 30vh;

}
.fondo-anaranjado h3{
	color:white;
	font-size: 300%;
	padding: 5%;
}
.fondo-anaranjado h3 img{
	height: 3vh;
}
.fondo-anaranjado button{
	margin-left: 5%;
	color: black;
	font-weight: 500;
	font-size: 150%;
	border-radius: 10px;
	padding: 2%;
}
.part-1-web{
	display: none;
}
/*Estilos fondo-section-2-movil*/
.fondo-section-2-movil{
	background-color: #ff9900;
	padding-top: 7%;
	padding-left: 5%;
	padding-right: 5%;
	color: white;
}
.imagen-Iphone-movil{
	justify-content: center;
	text-align: center;
	border: 2px solid white;
	padding: 10%;
}
.imagen-Iphone-movil h3{
	font-size: 220%;
}
.fondo-section-2-web{
	display: none;
}
/*Estilos fondo-section-3-movil*/
.fondo-section-3-movil{
	display: inline-block;
	width: 100%;
	background-image: url('../assets/images/conduce.jpg');
	height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 95%;
	justify-content: flex-end;
	color: white;
}
.position-text-section-3{
	padding-top: 200px;
}
.position-text-section-3 h3{
	font-size: 30px;
	font-weight: 700;
}
.position-text-section-3 h4{
	font-size: 22px;
}
.position-text-section-3 button{
	background-color: #ff9900;
	border: none;
	color: white;
	font-size: 20px;
	font-weight: 600;
	padding: 15px;
	border-radius: 10px;
}
@media (min-width: 768px){
	/*Estilos fondo-nav-web*/
	.nav-position{
		width: 100%;
		position: relative;
		padding-left: 75%;
		margin: 3%;
	}
	.nav-position ul div li{
		float: left;
	}
	.nav-position ul div li a{
		padding: 5px;
		list-style: none;
		text-decoration: none;
		color: gray;
	}
	/*Estilos fondo-section-1-web*/
	.part-1-movil{
		display: none;
	}
	.part-1-web{
		display: inline-block;
		margin: 0;
		padding-top: 15%;
	}
	.fondo-ana{
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: #ff9900;
		height: 38vh;
	}
	.fondo-ana h3{
		color:white;
		font-size: 200%;
		padding-left: 5%;
		padding-top: 5%;
	}
	.fondo-ana h4{
		color: white;
		padding-left: 5%;
		padding-top: 5%;
	}
	.fondo-ana h4 img{
		height: 2vh;
	}
	.fondo-ana button{
		margin-left: 5%;
		color: black;
		font-weight: 500;
		font-size: 100%;
		border-radius: 5px;
		padding: 2%;
	}
	/*Estilos fondo-section-2-web*/
	.fondo-section-2-movil{
		display: none;
	}
	.fondo-section-2-web{
		display: inline-block;
	}
	.fondo-section-2-web{
		width: 100%;
		background-color: #ff9900;
		padding-top: 5%;
		padding-right: 3%;
		padding-bottom: 5%;
		color: white;
	}
	.Iphone-web{
		padding: 5%;
	}
	.border-Iphone{
		margin-right: 400px;
		border-top: 1px solid white;
		border-right: 1px solid white;
		border-bottom: 1px solid white;
	}
	.Iphone-text{
		font-size: 16px;
		padding: 60px;
	}
	.Iphone-text h3{
		font-weight: 500;
	}
	.Iphone{
		width: 70%;
	}
	/*Estilos fondo-section-3-web*/
	.position-text-section-3{
		float: right;
	}
}
